body{background-color: aqua;text-align: center;}

h1 {color:blue;font-size:300%; text-align: center; margin-top: 50px;margin-bottom: 65px}


section {
  text-align: center;
  width: 340px;
  margin-left: 400px;
  
}
aside {
  float: left;
  width: 340px;
}
/*--------------------------------------------------------------------------*/

/*Logo to Home code begin */

.homer{color:blue;font-size: 300%;font-weight: lighter; 
  width: 600px;
font-size: 200%;
margin: 0 auto;
margin-bottom:50px ;
margin-top: 0px;
text-align: center;}

.homer:hover{color:red; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;background:white;
}

/*Logo to home code end */

/*--------------------------------------------------------------------------*/

/*Link decoration code begin */

a:hover { color:red; background:aqua;
  -o-transition:color .2s ease-out, background .5s ease-in;
  -ms-transition:color .2s ease-out, background .5s ease-in;
  -moz-transition:color .2s ease-out, background .5s ease-in;
  -webkit-transition:color .2s ease-out, background .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .5s ease-in;}
    
a:visited{text-decoration: none;color: black
    ;}

a:link {text-decoration: none; color: black}

/*Logo to Home code end */

/*--------------------------------------------------------------------------*/

/*link code begin */

.home
{font-size: 150%; 
    width: 120px;
    height: 26px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
     margin-top: 40px;
    margin-bottom: 40px;
    position: inline-block;
    position: relative;
}

.home:hover {
    width: 200px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 290px;
  background-color: white;
  width: 100%;
  width: 140px
}




/*FPS page link code end*/


/*-----------------------------------------------------------------------------*/

/*FPS Releases page link code begin*/






.text {font-size: 150%; font-weight: lighter;position: relative;}




/*Releases page link code end*/


/*-----------------------------------------------------------------------------*/

/*FBattlefield Releases code begin */



.fpstext {font-size: 150%;}






/*FPS Reviews page link code end*/


/*-----------------------------------------------------------------------------*/

/*News page link code begin*/


.battlefieldreleasestext {font-size: 150%;text-align: left;}

.battlefieldreleasestoreviews{font-size: 150%;margin:auto; 
    width: 200px;
    height: 26px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
   }

.battlefieldreleasestoreviews:hover {
    width: 350px;
}


.battlefieldreleaseslink{font-size: 150%;margin:auto; 
    width: 220px;
    height: 26px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
   }

.battlefieldreleaseslink:hover {
    width: 350px;
}

.fpsreviewstext{font-size: 150%}


.newstext {font-size: 150%; font-weight: lighter;}

.destinyimg{position: static;}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* @media Rule */
@media all and (max-width: 500px) {
body{background-color:rgb(38, 171, 183)}
h1{color: blue;text-decoration: none;text-shadow:none;}
body{text-align: center;}
.homer{font-color: red;margin: auto}
a:link{color: white}a:visited{color:white}
a:hover{background-color:rgb(38, 171, 183)} 
.text{font-color:white;}
.homer:hover{background-color: red} 
footer{background-color:rgb(38, 171, 183)}
 }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }




@page(min-height:800px ){
}





